#body-main-pg {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #8E6E53;
}

#side-bar {
    padding-right: 10px;
}

#main-content {
    padding-left: 20px;
    color: white;
    font-family: serif;
}

#body-form-aboutus {
    background-color: #8E6E53;
    color: white;
    font-family: serif;
    text-align: center;
}

img {
    width: 100%;
    height: auto; 
}

h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    font-size: 25px;
}

td {
    font-size: 18px;
}

#directory {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid white;
}

a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-style: italic;
}

a:hover {
    color: blanchedalmond;
}

h3 { 
    font-size: 23px;
}
