#body-main-pg {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color:#8E6E53;
    margin:0;
    padding:0;
}

#side-bar {
    width:30vw;
    height:100vh;
    background-color:blanchedalmond;
    padding:0;
    margin:0;
    overflow: hidden;
}

#main-content {
    padding-left: 20px;
    color: white;
    font-family:serif;

}

h1 {
    text-align:center;
    font-size: 50px;
    padding-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    flex-wrap:wrap;
}

th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 25px;
}
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

#directory {
    display:flex;
    justify-content: space-around;
    padding:10px;
    border-bottom: 1px solid white;

}

#body-form-aboutus {
    background-color:#8E6E53;
    color: white;
    font-family:serif;
    text-align:center;
}

#footer-aboutus {
    padding-top: 80px;
    width:100%;
}

a {
    text-decoration: none;
    color:white;
    font-size: 23px;
    font-style:italic;
}

a:hover {
    color:blanchedalmond;
}

h3 { 
    font-size: 30px;
    margin-bottom:5px;
    padding:0;
    padding-top:15px;
}